[submodule "dart/at_server"]
	path = modules/dart/at_server
	url = https://github.com/atsign-foundation/at_server.git
[submodule "dart/at_client_sdk"]
	path = modules/dart/at_client_sdk
	url = https://github.com/atsign-foundation/at_client_sdk.git
[submodule "dart/at_libraries"]
	path = modules/dart/at_libraries
	url = https://github.com/atsign-foundation/at_libraries.git
[submodule "dart/at_widgets"]
	path = modules/dart/at_widgets
	url = https://github.com/atsign-foundation/at_widgets.git
[submodule "dart/at_tools"]
	path = modules/dart/at_tools
	url = https://github.com/atsign-foundation/at_tools.git
[submodule "dart/at_services"]
	path = modules/dart/at_services
	url = https://github.com/atsign-foundation/at_services.git
[submodule "c/at_c"]
	path = modules/c/at_c
	url = https://github.com/atsign-foundation/at_c.git
